  
<html>
	<body>
		<div   style="width:100%; height:100%; border: 2px solid black ; display: block">

			 
	       <div  style="height: 600px ;width:300px;float:left;border:1px solid blue">
				 
			</div>

			<div  style="height: 600px ;width:955px;float:left;border:1px solid green">
				
				<div  style="height: 140px ;width:955px;border:1px solid red">
				   
				   <div  style="height: 140px ;width:230px;float: left ;border:1px solid yellow">
				   5*
				 
			       </div>
			       <div  style="height: 140px ; width :230px;float:left;border:1px solid yellow">
				   miiiii
				 
			       </div>
			       <div  style="height: 140px ;width:230px;float: left ;border:1px solid yellow">
				   5*
				 
			       </div>
			       <div  style="height: 140px ; width :230px;float:left;border:1px solid yellow">
				   miiiii
				 
			       </div>
				 
			    </div>
			    
			    <div  style="height: 140px ;width:955px;border:1px solid red">
				
				  4*
			    </div>
				 
				<div  style="height: 140px ;width:955px;border:1px solid red">
				   3*
				 
			    </div>
			    
			    <div  style="height: 140px ;width:955px;border:1px solid red">
				
				  2&1*
			    </div> 
			</div>
		

			 

</div>
	</body>

</html>
