<% content_for :javascript_includes do %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery.layout.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= javascript_include_tag "review.js" %>
<%= javascript_include_tag "Test.js" %>
<% end %>



  
<body>
<div class="ui-layout-center">

	

	<div id="reviewcontainer" style="height:100%;">
							
									
									
										<div id="five" style="display:inline-block;">
											<img src=/assets/star.jpeg width="12" height="12"/>
											<img src=/assets/star.jpeg  width="12" height="12"/>
											<img src=/assets/star.jpeg  width="12" height="12"/>
											<img src=/assets/star.jpeg  width="12" height="12"/>
											<img src=/assets/star.jpeg width="12" height="12"/>
										</div>
									
										<div id="fivestarreviewpanel" class="individualreviews">		
										</div>
									
										
		
								
									<div id="four" style="display:inline-block;height;12px;">
										<img src=/assets/star.jpeg width="12" height="12"/>
										<img src=/assets/star.jpeg width="12" height="12"/>
										<img src=/assets/star.jpeg width="12" height="12"/>
										<img src=/assets/star.jpeg width="12" height="12"/>
									</div>
									<div id="fourstarreviewpanel" class="individualreviews">
									
									</div>
		
							
		
							
								<div id="three" style="display:inline-block;height;12px;">
									<img src=/assets/star.jpeg width="12" height="12"/>
									<img src=/assets/star.jpeg width="12" height="12"/>
									<img src=/assets/star.jpeg width="12" height="12"/>
									and lesser
								</div>
				
		
								<div id="badreviewspanel" class="individualreviews">
								
								</div>
		
								
	</div>
		

</div>


<div class="ui-layout-west" style="position: relative; overflow: hidden; ">
	
	<%= render 'rest_details' %>
	
	
   	<div class="outerelement">
   	
			<div id='wcloud__1' class='wordcloud innerelement' >
				
			<div>
	  		<center>
	  			<button id="reset" name="reset" class="resetbutton" onclick="resetview()">

						<font color="maroon" >
		  					<b>Show All Reviews</b>
		  				</font>
		  				
		  				</button>
		  		
				
	  		</center>
  	</div>
  	</div>
  	
  	

</div>
                   


</div>
<!--<div class="ui-layout-north">

</div>

<div class="ui-layout-south">South</div>
<div class="ui-layout-east">East</div>

-->

<div id='xxx__<%= @business_id %>'> </div>

</body>


