
<% i = 0 %>
<% for restaurant in @temporary %>

		<%
		
		
		address = restaurant.full_address
		index = address.index("\n")
		add = restaurant.full_address
		if(index != nil && index >  0)
			add = address[0..index]
		end
		
		name = restaurant.name
		shortname = name
		
		if add.length > 38
		
			add = add[0..35] + "..."
			
			
		end
		
		if name.length > 23
			shortname = name[0..20] + "..."
			
		end
		
		%>		
       <%i = i+1%>   
      <div id='container_<%= i  %>' class=' container' onclick = "clicked(this);" >  
                   <div id='restaurant__<%=restaurant.business_id %>'   class='restaurant' >  
                        <div id='rest_details_<%= i %>'    class='restdetails' >  
                            <div id='business_image_<%= i %>'    class='businessimage' >  
                	             <img src='<%= restaurant.photo_url %>' />  
                            </div>  
                            <div  class='restname' title="<%= name %>">  
            	                 <span style='font:normal 1em arial,sans-serif'><%= h(shortname).gsub(/\n/, '<br/>').html_safe %> </span>  
                            </div>  
                            <div style='padding:5px; ' class='address_line1'  title=" <%= address %>">  
                      		     <%= add %>
                            </div>  
                            <div style='padding:10px; ' class='address_line2'>  
                         		 <%= restaurant.city %>
                            </div> 
                            
                            <div style='padding:10px; ' class='address_line3'>  
                         		 <%= restaurant.stars %>
                         		 <img src=/assets/star.jpeg width="12" height="12"/>

                            </div>  
                        </div>  
                   </div>  
		           <div id='wcloud__<%=restaurant.business_id %>' +      class='wordcloud innerelement' >
                   
                   </div>  
      </div>
<% end %>