
<% i = 0 %>
<% for restaurant in @temporary %>

		<%
		
		
		address = restaurant.full_address
		index = address.index("\n")
		add = restaurant.full_address
		if(index != nil && index >  0)
			add = address[0..index]
		end
		
		name = restaurant.name
		shortname = name
		
		if add.length > 38
		
			add = add[0..35] + "..."
			
			
		end
		
		if name.length > 20
			shortname = name[0..17] + "..."
			
		end
		
		%>		
       <%i = i+1%>   
       <% float = "leftfloat" %>
       <% if i % 2 == 0 %>

            <% float = "rightfloat" %>	

       <% end %>
       
      <div id='container_<%= i  %>' class = "container <%=float %>" onclick = "clicked(this);" style="width:400px;position:relative;"> 
      	<!--class=' container'  _split <%= float %>-->  
                   <div id='restaurant__<%=restaurant.business_id %>'   style="height:80px;width:380px;" class='restaurant'> <!---->     
                        <div id='rest_details_<%= i %>'    class='restdetails' >   
                            <div id='business_image_<%= i %>'    class='businessimage' >  
                	             <img src='<%= restaurant.photo_url %>' />  
                            </div>  
                            <div  class='restname' title="<%= name %>" style="width: 400px;">  
            	                 <span style='font:normal 1em arial,sans-serif'><%= h(shortname).gsub(/\n/, '<br/>').html_safe %> </span>  
                            </div>  
                           <!--  <div style='padding:5px; ' class='address_line1'  title=" <%= address %>">  
                      		     <%= add %>
                            </div>  
                            <div style='padding:10px; ' class='address_line2'>  
                         		 <%= restaurant.city %>
                            </div> -->
                            
                            <div style='padding:10px; ' class='address_line3'>
                         		 <%= restaurant.stars %>
                         		 <img style="background: transparent" src=/assets/star.jpeg width="12" height="12"/>
                            </div>
                       </div>  
                   </div>  
		           <div id='wcloud__<%=restaurant.business_id %>' +      class=' innerelement' style="width:300px;height:300px;">
                   
                   </div>  
      </div>
<% end %>